:root {
    --black: #000000;
    --white: #ffffff;

    --gray-100: #f7fafc;
    --gray-200: #edf2f7;
    --gray-300: #e2e8f0;
    --gray-400: #cbd5e0;
    --gray-500: #a0aec0;
    --gray-600: #718096;
    --gray-700: #4a5568;
    --gray-800: #2d3748;
    --gray-900: #1a202c;

    --bg-color: var(--gray-900);
    --text-color: var(--gray-100);
    --link-color: var(--gray-100);
    --link-hover-color: var(--gray-200);
    --link-active-color: var(--gray-300);
    --link-visited-color: var(--gray-400);
    --link-visited-hover-color: var(--gray-500);
    --link-visited-active-color: var(--gray-600);   
}